.logo-first {
  color: $nav-text-color;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-first__bottom {
  color: $nav-text-color;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-bottom: 20px;
}

.logo-second {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.logo-second__white {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
