$main-text-color: #212121;
$secondary-text-color: #757575;
$hero-text-color: #ffffff;
$nav-text-color: #2196f3;
$adress-text-color: rgba(255, 255, 255, 0.6);
$button-text-background: #f5f4fa;
$button-active-background: #188ce8;
$svg-link-color: #afb1b8;