.container-bottom {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  flex-direction: row;
}

.bottom__address {
  width: 231px;
}

.bottom-contacts__list {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
}

.bottom-contacts__adress {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;


  &:hover {
    color: #2196f3;
  }
}

.bottom-contacts__link {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;

  &:hover {
    color: #2196f3;
  }
}
