.work-list__item {
  display: flex;
  flex-direction: row;
  padding-top: 94px;
  margin-bottom: 50px;
  justify-content: center;
}

.work-list__button {
  padding-right: 10px;
}

.work-list__filter {
  color: #212121;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #2196f3;
  }
}
